<tbody>
  <tr>
    <td><%= link_to image_tag(gear.image_url, :class => 'img-thumbnail image'), gear_url(gear.id) %></td>
    <td><%= gear.name %></td>
    <td><%= gear.category %></td>
    <td>$<%= gear.price %></td>
  </tr>
</tbody>


